<html>

<head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="toDo.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


<title>Jobin Scaria - To Do List</title>

</head>


<body ng-app="tdlModule" ng-controller="tdlController" style="margin:10px;">

<h1>TO DO LIST</h1><br>
<p id="msg1"></p>
<input id="newItem1" ng-model="newItem" placeholder="item name"></input>
<input id="newItemDesc1" ng-model="newItemDesc" placeholder="item desc"></></input>
<button class="w3-btn-floating w3-teal" ng-click="addItem()">+</button>
<br><br>
<table border="2">
<tr>
<th colspan="8">TO DO LIST</th>
</tr>
<tr>
<th>Item ID</th>
<th>Item Name</th>
<th>Item Description</th>
<th>Item Status</th>
<th>Created Date</th>
<th>Completed Date</th>
<th>Mark Complete</th>
<th>Delete</th>
</tr>
<tr ng-repeat="item in items">
<td>{{item.itemID}}</td>
<td>{{item.itemName}}</td>
<td>{{item.itemDesc}}</td>
<td>{{item.itemStatus}}</td>
<td>{{item.createdDate}}</td>
<td>{{item.completedDate}}</td>
<td style="text-align:center;"><input type="checkbox" name="isComplete" value="isComplete" ng-click="updateItem($index)"></td>
<td><button class="w3-btn-floating" ng-click="removeItem($index)" style="width:100%;">X</button></td>
</tr>
</table>

<br>

</body>

</html>